<mat-toolbar color="accent">
  <mat-toolbar-row
    fxLayout="row"
    fxLayoutAlign="space-between center"
    ngClass.xs="xs-screen-control-panel"
  >
    <mat-form-field fxFlex floatLabel="never">
      <input
        matInput
        placeholder="Message text"
        [(ngModel)]="msgFieldValue"
        (keyup.enter)="onMessageSend()"
      />
    </mat-form-field>
    <button
      fxHide.gt-xs
      type="button"
      mat-icon-button
      color="primary"
      (click)="onMessageSend()"
    >
      <mat-icon>send</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
