<mat-nav-list>
  <a mat-list-item (click)="openFileDialog()">
    <input
      type="file"
      fxHide
      #fileInput
      (change)="onFileSelected($event)"
      accept="image/*"
    />
    <span mat-line>Upload new image</span>
    <mat-icon>cloud_upload</mat-icon>
  </a>

  <a mat-list-item class="warn-color" (click)="onImageDelete()">
    <span mat-line>Delete image (set default)</span>
    <mat-icon>delete</mat-icon>
  </a>

  <a mat-list-item (click)="onCancel()">
    <span mat-line>Cancel</span>
    <mat-icon>clear</mat-icon>
  </a>
</mat-nav-list>
