$defaultHeaderHeight: 64px;
$xsScreenHeaderHeight: 56px;
$controlPanelHeight: 82px;

app-users-list,
app-chat-messages {
  overflow-y: auto;
}

app-chat-messages {
  padding: 10px;
  background-color: aqua;
}

section {
  height: calc(100% - #{$defaultHeaderHeight + $controlPanelHeight});
}
section.xs-screen-section {
  height: calc(100% - #{$xsScreenHeaderHeight + $controlPanelHeight});
}
