mat-card {
  max-width: 80%;
  padding: 10px;
}

mat-card.xs-screen-message {
  padding: 7px;

  div[mat-card-avatar] {
    width: 30px;
    height: 30px;
  }
  mat-card-title {
    font-size: 14px;
  }
  mat-card-subtitle {
    font-size: 10px;
    margin-bottom: 5px;
  }
}
